name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install GDAL
      run: |
        sudo apt-get update
        sudo apt-get install -y gdal
    - name: Run tests
      shell: bash
      working-directory: gdal-dtm-exporter
      run: cargo test --verbose
